{% extends 'base.html.twig' %}

{% block title %}Edit Presentations{% endblock %}

{% block body %}
    <h1>Edit Presentations</h1>

    {{ include('presentations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('presentations_index') }}">back to list</a>

    {{ include('presentations/_delete_form.html.twig') }}
{% endblock %}
