<form class="btn btn-outline-danger" method="post" action="{{ path('establishments_delete', {'id': establishment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ establishment.id) }}">
    <button class="btn m-0 p-0" title="Supprimer">
        <i class="bi bi-trash"></i>
    </button>
</form>
