{% extends 'base_admin.html.twig' %}

{% block title %}Créer une info site web{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-10">
                    <h1 class="display-1">
                        Créer une info site web
                    </h1>
                </div>
                <div class="col-lg-2">
                    <div class="d-grid gap-2">
                        <a class="btn btn-secondary-custom" title="Retour vers la liste" href="{{ path('websites_index') }}">
                            <i class="bi bi-list-ul"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('admin/websites/_form.html.twig') }}
{% endblock %}
